
 footer{
  display: flex;
  flex-direction: column;
  gap:50px;

}
.kc1{
  width: 50px;
}


.box{
  height: 10vh;
  display: flex;
  gap:9%;
  align-items: center;
  justify-content: center;
  background-color: #222;
  color: white;
}
.mail{
  width: 30px;
}
.git{
  width: 30px;
}

.link{
   width: 30px;
}

.social-links{
  display: flex;
 justify-content: center;
 align-items: center;
  width: 50vw;
  height: 10vh;
  gap:5%;

}



.git1{
  display: flex;
  align-items: center;
  width: 20px;
 color:   white;

}

.github1{
 display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:10%;
  width: 7vw;
  height: 10vh;
 color:   white;

}

.footer-container{
  text-align: center;
}
.LinkedIn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 7vw;
  height: 5vh;
  color:  white;
  gap:5%
}

.gmail{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 7vw;
  height: 5vh;
  color:  white;

}


.foter{
  display: flex;
  align-items: center;
}







@media screen and (min-width: 701px)  and (max-width: 1300px){
footer{
  gap:20px;
  min-height: 10vh;
 height:auto;
 align-items: center;
 width: 100%;
}

.social-links{
  width: 100%;
  gap:10px;
 
}


.github1{
  width: 12vw;
  font-size: 12px;

}
.LinkedIn{
  width: 20vw;
  font-size: 12px;
}
.gmail{
  width: 20vw;
  font-size: 12px;
}

.git{
    width: 40px;
    font-size: 12px;
}

.github2{
  width: 40px;
  font-size: 12px;
}


.box{
  width: 100%;
}





.kc1{
  padding-left: 10px;
}


}














@media screen and (max-width:700px){




.github1,
.LinkedIn,
.gmail{
 display:flex;
 flex-direction:column;
 width:100%;
 gap:10px;

}

.social-links{
  flex-wrap: nowrap;

 
}

.box{
  display: flex;
  width:100%;
  min-height: 16vh;
  align-items: center;


}


.footer-container{

  font-size: 12px;
  padding-top: 15px;



}



.social-links{
  color: white;

}

.github1{

  flex-direction: column;
  width: 15vw;
  font-size: 12px;
  gap:10%;
  max-height: 5vh;
}

.github2{
  width: 24px;
}
.link{
  width: 25px;
}

.mail{
  width: 25px;
}
.foter{
  display: flex;
  flex-direction: column;
  width: 100%;


}

.LinkedIn{
  flex-direction: column;
  width: 15vw;
  gap:10%;
  font-size: 12px;
}

.gmail{
  flex-direction: column;
   width: 15vw;
   font-size: 12px;
  gap:10%;
}

.kc1{
  margin-left: 10px;
}


}