
 footer{
  display: flex;
  flex-direction: column;
  gap:50px;

}
.kc1{
  width: 50px;
}


.box{
  height: 10vh;
  display: flex;
  gap:9%;
  align-items: center;
  justify-content: center;
  background-color: #222;
  color: white;
}
.mail{
  width: 30px;
}
.git{
  width: 30px;
}

.link{
   width: 30px;
}

.social-links{
  display: flex;
 justify-content: center;
 align-items: center;
  width: 50vw;
  height: 10vh;
  gap:5%;

}



.git1{
  display: flex;
  align-items: center;
  width: 20px;
 color:   white;

}

.github1{
 display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:10%;
  width: 7vw;
  height: 10vh;
 color:   white;

}

.footer-container{
  text-align: center;
}
.LinkedIn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 7vw;
  height: 5vh;
  color:  white;
  gap:5%
}

.gmail{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 7vw;
  height: 5vh;
  color:  white;

}


.foter{
  display: flex;
  align-items: center;
}


.navprev,
.navnext{
    display: none;
}





.images{
  height: auto;
  width: 20vw;
  object-fit: contain;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease;
}

.images:hover {
  transform: scale(1.03);
}

.conteiner{
  position: relative; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 50px;
  align-items: stretch;
  height: 55vh;
  background-color: white;

}

.slider {

  max-width: 20vw;
  width: 100%;
  max-height: 30vh;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.slide-img {
  width: 100%;
  height: auto;
  object-fit: cover;
 display: block;
  
}

.tex{
  font-size: 12px;
  width: 95%;
  text-align: center;
}



.card,
.card1,
.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 20vw;
  height: 50vh;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(13, 13, 13);
  border-radius: 5px;
  margin-left: 25px;
 

    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 10px;
 
}

.ul{
  display: flex;
  gap:10%;
  justify-content: center;
  height: 25vh;
  width: 90%;
  align-items: center;
  flex-direction: column;
}



#ulid{
  gap:10px;
}






 .slider-wrapper{
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
   overflow: hidden;
    width: 100%;



}




.card-slide{
    display: flex;
    align-items: center;
    transition: 0.5s ease;

}


.card,
.card1,
.card2 {
box-sizing: border-box;
background: linear-gradient(160deg,#ddd6fa,#7b93d38c,#ddd6fa);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow:
    0 6px 16px rgba(0, 0, 0, 0.08),
    0 10px 28px rgba(123, 147, 211, 0.18);

}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

.card:hover,
.card1:hover,
.card2:hover {
  transform: translateY(-5px);

  box-shadow:
   0 6px 16px rgba(0, 0, 0, 0.193),
  0 10px 28px rgba(123, 146, 211, 0);
}





.one{
 font-weight: bolder;
}





@media screen and (min-width: 701px)  and (max-width: 1300px){
footer{
  gap:20px;
  min-height: 70vh;
 height:auto;
 align-items: center;
 width: 100%;
}

.social-links{
  width: 100%;
  gap:10px;
 
}


.github1{
  width: 12vw;
  font-size: 12px;

}
.LinkedIn{
  width: 20vw;
  font-size: 12px;
}
.gmail{
  width: 20vw;
  font-size: 12px;
}

.git{
    width: 40px;
    font-size: 12px;
}

.github2{
  width: 40px;
  font-size: 12px;
}

 .slider-wrapper{
  justify-content: space-between;




}
.conteiner{
  display: flex;
  position: none;
  width: 100%;
  min-height: 50vh;
align-items: center;
padding-left: 0px;
  padding-bottom: 20px;
}

.card,
.card1, .card2 {
  max-width: 35vw;
  min-width: 20vw;
  min-height: 45vh;
  height: auto;
 margin-left: 5%;

} 




li{
  font-size: 14px;
}



.slider{
  
min-width: 25vw;
 padding: 0px;
  height: auto;
}

.slide-img{
  width: 100%;
  height: auto; 

}
.ul{
  gap:5px;
  max-height: 20vh;
}


.tex{
  font-size: 12px;
  width: 26vw;
}


.card-slide{
    transform:none !important;
}

.nav{
    display:none;
}


.footer-container{
  font-size: 12px;
}




.foter{
  gap:5px;
}

.box{
  width: 100%;
}


.kc1{
  padding-left: 10px;
}


}














@media screen and (max-width:700px){

footer{
  gap:20px;
  min-height: 30vh;
 height:auto;
 align-items: center;
 padding: 0;
 margin: 0;


}


.conteiner{
  position: relative;
 padding-left: 0px;
 width: 80%;
 gap:5px;
margin-left: 20px;
 height: auto;


}

.card{
    flex: 0 0 100%;
    max-width: 100%;
    max-height: 40vh;
    padding-right: 10%;
    height: auto;
    gap: 15px;
    box-sizing: border-box;
}


.card1{
    flex: 0 0 100%;
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    padding-right: 15%;
    gap: 15px;
    box-sizing: border-box;
   
}

.card2{
    flex: 0 0 100%;
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    padding-right: 20%;
    gap: 15px;
    box-sizing: border-box;

}



.slider-wrapper{
    max-width: 80vw;
    min-width: auto;

}


.card-slide{
height: auto;
background: #fffbec;
border: none;
transition: transform .5s ease;

}




.nav{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:10;
}

.navprev{
    display: block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background: rgba(0,0,0,.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
}

.navnext{
    display: block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background: rgba(0,0,0,.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
}
.navprev{
    left: 10px;
}

.navnext{
    right: 20px;
}

.navprev:hover,
.navnext:hover{
    background: rgba(0,0,0,.8);
}


.slider{
  min-width: 40vw;
  justify-items: center;
  height: auto;
  min-height: 10vh;

}


.ul{
  display: flex;
  gap:8px;
  max-height: 20vh;
  width: 30%;

}
.tex
{

  width: 200px;


}

.slide-img{
  object-fit: contain;
  width: 100%;
  height: auto; 
 


}


.github1,
.LinkedIn,
.gmail{
 display:flex;
 flex-direction:column;
 width:100%;
 gap:10px;

}

.social-links{
  flex-wrap: nowrap;

 
}

.box{
  display: flex;
  width:100%;
  min-height: 16vh;
  align-items: center;


}


.footer-container{

  font-size: 12px;
  padding-top: 15px;



}



.social-links{
  color: white;

}

.github1{

  flex-direction: column;
  width: 15vw;
  font-size: 12px;
  gap:10%;
  max-height: 5vh;
}

.github2{
  width: 24px;
}
.link{
  width: 25px;
}

.mail{
  width: 25px;
}
.foter{
  display: flex;
  flex-direction: column;
  width: 100%;


}

.LinkedIn{
  flex-direction: column;
  width: 15vw;
  gap:10%;
  font-size: 12px;
}

.gmail{
  flex-direction: column;
   width: 15vw;
   font-size: 12px;
  gap:10%;
}

.kc1{
  margin-left: 10px;
}


}