<!-- @if (loading()) {
<div class="skeleton-page">
  <div class="skeleton header"></div>
  <div class="skeleton text"></div>
  <div class="skeleton-image">
      <div class="card one"></div>
      <div class="card two"></div>
  </div>
</div>
} @else {
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
} -->
<app-header></app-header>
@if (loading()) {
<div class="skeleton-page">
  <div class="skeleton header"></div>
  <div class="skeleton text"></div>
  <div class="skeleton-image">
    <div class="card one"></div>
    <div class="card two"></div>
  </div>
</div>
} @else {
<router-outlet></router-outlet>
}
<app-footer></app-footer>