.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

router-outlet {
  flex: 1;
}


.skeleton-page {
  min-height: 100vh;
}
.skeleton-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
  animation: fadeIn 0.4s ease;
}

.skeleton {
  background: linear-gradient(
    90deg,
    #e6e6e6,
    #f1f1f1,
    #e6e6e6
  );
  background-size: 200% 100%;
  animation: loading 1.2s infinite;
  border-radius: 10px;
}

.header {
  height: 10vh;
  width: 100%;
  border-radius: 0;
  margin-bottom: 80px;
}

.text {
  width: min(700px, 90%);
  min-height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
}

.text.short {
  width: min(500px, 80%);
}

.skeleton-image {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 32px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 450px;

  width: 100%;
  max-width: 600px;

  min-height: 400px;
  height: 70vh;

  border-radius: 20px;

  background: linear-gradient(
    90deg,
    #e6e6e6,
    #f1f1f1,
    #e6e6e6
  );
}

/* Tablet */
@media (max-width: 1024px) {
  .header {
    margin-bottom: 60px;
  }

  .card {
    max-width: 90%;
    height: 60vh;
  }

  .skeleton-image {
    gap: 20px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .header {
    height: 8vh;
    margin-bottom: 40px;
  }

  .text,
  .text.short {
    width: 95%;
  }

  .skeleton-image {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  .card {
    height: 240px;
  }

  .text {
    min-height: 60px;
  }
}


