.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    width: 95%;
    gap:80px;
    height: auto;
    padding-bottom: 40px;

}

h1{
    color: #1F3D2B;
    font-weight: bold;
}


.content{
    display: flex;
    flex-wrap: wrap;
    gap:64px;
}

.img{
    width:450px;
    object-fit: cover;
}


.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    gap:24px;
}

.project{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.conteinerlogo{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.plogo{
    font-size: 24px;
    color: #1F3D2B;
    font-weight: bold;
}

.black,
.white,
.green,
.orange{
    display: block;
    border-radius: 100px;
    height: 32px;
    width: 32px;
  
   
}

.black{
      background: black;
}


.white{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.green{
    background-color: #1F3D2B;
}


.orange{
    background: rgba(167, 72, 38, 1);
}



.colorbox{
    display: flex;
    flex-wrap: wrap;
    gap:16px;
}
.color{
    display: flex;
    flex-direction: column;
    gap:16px;
}


h2,
h3,
.title,
.reserch{
    font-size: 26px;
    color: #1F3D2B;
    font-weight: bold;
}


.company{
    display:flex;
    flex-direction: column;
    gap:16px;
    width: 40vw;
    text-align: center;
    align-items: center;
    
}

.companibox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:32px;
    width: 90%;

}

.mob{
    width: 250px;
    height: auto;
    object-fit: cover;
}



.usericone{
    width: 40px;
    height: 40px;
}

.userbox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:32px;
}


.userconteiner{
    display: flex;
    flex-direction: column;
    gap:48px;
    border-radius: 16px 16px 48px 48px ;
    align-items: center;
    background: #1F3D2B;
    width: 25vw;
    padding: 46px;
    height: auto;
    color: white;
}



.userconteiner1{
    display: flex;
    flex-direction: column;
    gap:48px;
    border-radius: 16px 16px 48px 48px ;
    align-items: center;
    background: #1F3D2B;
    width: 20vw;
    height: auto;
    max-height: 20vh;
    padding: 46px;
    color: white;
}


.everybox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
    
}


.every{
    display: flex;
    padding: 24px;
    justify-content: center;
    flex-wrap: wrap;
    gap:32px;
}



.business{
    display: flex;
    flex-direction: column;
    gap:32px;
    align-items: center;
    width: 100%;
    height: auto;
}


.businessbox{
    width: 30vw;
    height: auto;
    text-align: center;
    padding: 16px;
     border-radius: 16px 16px 48px 48px ;
     background: #EDFEF4;
     font-size: 14px;
}

.small{
    color: #1f3d2bc2;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}


.allbox{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 90%;
    gap:32px;
   justify-content: center;
}


.reserchbox,
.userperson,
.userflow{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap:48px;
    align-items: center;
    width: 90%;
    height: auto;
}

.reserch,
.flow{
    border-radius: 16px;
    width: 95%;
    object-fit: cover;
    font-size: 24px;
    color: #1F3D2B;
    font-weight: bold;
}

.uxbox{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
    width: 90%;
    height: auto;
}

.ux{
    object-fit: cover;
    width: 40%;
    height: auto;
}

.user{
     object-fit:fill;
    width: 35%;
    height: auto;
}



.uxbox{
    display: flex;
    align-items: center;
    width: 90%;
}


.wiframe{
    width: 80%;
    height: auto;
    object-fit: cover;
}


.comp{
    object-fit: cover;
    width: 65%;
    height: auto;
}


.imgbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
    border-radius: 16px;
    gap:16px;
    width: 100%;
    background: #1F3D2B;

}


.desimg{
    max-width: 400px;
    height: auto;
}







.figma{
    display: flex;
   justify-content: center;
   align-items: center;
   gap:16px;
    border: 2px solid #1f3d2b74;
    width: 200px;
    height: auto;
    border-radius: 16px;
    padding: 8px;
}

.figma:hover{
 background-color: #a7dbbc61;
 border: 1px solid #a7dbbc97;
}

.figmaic{
    width: 32px;
}
a{
    font-style: normal;
    text-decoration: none;
    color: rgb(11, 7, 0);
}










@media screen and (min-width: 901px) and (max-width: 1100px){





.content{
    justify-content: center;

}


.userconteiner1
{
    width: 350px;
    max-height: 25vh;
    height: auto;
    padding-bottom: 32px;
    gap:8px;
}

.userconteiner{
 width: 350px;
    height: auto;
    padding: 32px;
    gap:8px;
}





}








@media screen and (min-width: 501px) and (max-width: 900px){

*{
    width: 90%;

}

    .business{
        width: 100%;
    }


.conteiner{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}




.imgbox{
    justify-content: center;
      padding: 8px;
 
}


.conteiner{
    width: 94%;
   display: flex;
    justify-items: center;
    min-height: 90vh;
    height: auto;

}
.content{
    justify-content: center;
    width: 100%;

}


.logo{
    width: 48px;
    height: 48px;
}

.box{
    width: 90%;
    padding: 24px;
}

.img{
    width: 90%;
}

h1{
    font-size: 24px;
    text-align: center;
}



.title{
    font-size: 24px;
    text-align: center;
}


.companibox{
    width: 100%;
}

.company{
    width: 100%;
}

.everybox{
    width: 100%;
    text-align: center;
    align-items: center;

}


.userconteiner,
.userconteiner1{
    width: 100%;
    padding: 8px;
    text-align: center;
    padding-bottom: 24px;
    font-size: 12px;

}

.userconteiner1{
    width: 350px;
    gap:8px;

}

.usericone{
   width: 24px; 
   height: 24px;
}
   
.allbox{
    flex-wrap: wrap;
    width: 100%;
    text-align: center;

}

.reserch{
    width: 100%;
    height: auto;
}


.geo{
    text-align: center;
}


.businessbox{
    width: 70%;
    height: auto;
    text-align: center;

}


.imgbox{
    flex-wrap: wrap;
    width: 100%;
}


.user,
.ux,
.wiframe,
.comp{
    width: 80vw;
}

.userbox{
    flex-direction: column-reverse;
    width: 100%;
    font-size: 16px;
    gap:8px;
    height: auto;
    text-align: center;
    padding: 0;
}



.desimg{
    width: 80vw;
}
}



















@media screen and (max-width: 500px){

*{
    width: 90%;
}

    .business{
        width: 100%;
    }



.conteiner{
    width: 100%;
   display: flex;
    justify-items: center;
    min-height: 90vh;
    height: auto;


}

.box{
    width: 90%;
    padding: 24px;
}

.img{
    width: 90%;
}

h1{
    font-size: 24px;
    text-align: center;
}



.title{
    font-size: 24px;
    text-align: center;
}
.content{
justify-content: center;
width: 100%;

}

.companibox{
    width: 100%;

}

.company{
    width: 100%;

}

.everybox{
    width: 100%;
  
}


.userconteiner,
.userconteiner1{
    width: 100%;
    padding: 8px;
    gap:32px;
    text-align: center;
    padding-bottom: 24px;
    font-size: 12px;

}

.usericone{
   width: 24px; 
   height: 24px;

}
   
.allbox{
    flex-wrap: wrap;
    width: 100%;
    text-align: center;


}

.reserch{
    width: 100%;
    height: auto;
}


.geo{
    text-align: center;
}


.businessbox{
    width: 100%;
}


.imgbox{
    flex-wrap: wrap;
    width: 100%;
}


.user,
.ux,
.wiframe,
.comp{
    width: 80vw;

}

.userbox{
    flex-direction: column-reverse;
    width: 100%;
    font-size: 16px;
    gap:8px;
    height: auto;
    text-align: center;
    padding: 0;

}

.imgbox{
    justify-content: center;
      padding: 8px;
 
}

.logo{
    width: 70px;
    height: auto;
}

.desimg{
    width: 80vw;
}
}