/*
 You can add global styles to this file, and also import other style files */



 html, body {
  height: 100%;
  margin: 0;
}



app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
 
}

body {
  background: #F7F7FB;

}

body.dark-mode {
  background: #0C0C12;

}



body.dark-mode .burger {
 color: rgb(241, 237, 228) !important;

}









.card {
  color: inherit;
  padding: 1rem;
  border-radius: 8px;
  transition: background 0.3s ease;




}


body.dark-mode  header{
  border-bottom: 1px solid rgba(95, 94, 94, 0.525);

}


body.dark-mode  .card-slide{
  background: none;



}

body.dark-mode .conteiner2{
  background: white;
  box-shadow: 0 4px 10px rgba(66, 65, 65, 0.308);
  color: black !important;
  border: 2px solid gray;
}
body.dark-mode .projects-text{
  color: black !important;
}

body.dark-mode #footer1 {
  background:none;

}

body.dark-mode .border{
 padding-left: 20px;
   color: black;
   border-radius: 13px;
   
}


body.dark-mode .singh{

     color: white;

}
body.dark-mode .vebsaiti {
  color: rgb(250, 247, 247);
}



body.dark-mode .vebsaiti:active {
  color: #6C5CE7;
}

body.dark-mode .mimdinare {
  color: #6C5CE7;
}

body.dark-mode .shoping{
background: #13131A;
     color: rgb(95, 94, 94);

}


body.dark-mode .bmul{
     color: rgb(95, 94, 94);

}


body.dark-mode .mobileversion{ 
 color: white;
}


body.dark-mode .deskbox{ 
 color: white;
}


body.dark-mode .all {
  background: #13131A;
 color: rgb(95, 94, 94) !important;
}

body.dark-mode .hotel{
 background: #13131A;
     color: rgb(95, 94, 94);
}

body.dark-mode .desc{

     color: rgb(95, 94, 94);
}


body.dark-mode .restoran{
 background: #13131A;
     color: rgb(95, 94, 94);
}
body.dark-mode .header{
    color: white;
    background: #0c0c12ef;
    
}


  body.dark-mode .eng:hover{
  background-color: #908f8532;

}


  body.dark-mode .ka:hover{
  background-color: #908f8532;

}

body.dark-mode  .proect{
  color: white;
 background: linear-gradient(160deg, 
    #13131A,#7676a4,#13131A);
}
body.dark-mode  .proect:hover{
    box-shadow:
    0 6px 16px rgba(71, 44, 170, 0.185),
    0 0 13px rgba(12, 1, 54, 0.223);
}


body.dark-mode .card,
body.dark-mode .card1,
body.dark-mode .card2 {
  background: #13131A;
  color: rgb(95, 94, 94);
  box-shadow:
    0 0 20px rgba(12, 6, 34, 0.105);}

body.dark-mode .card:hover,
body.dark-mode .card1:hover,
body.dark-mode .card2:hover {
  transform: translateY(-8px) scale(1.02);

  box-shadow:
    0 0 20px rgba(7, 4, 20, 0.848);
}


body.dark-mode h1{
  color: black;
}

body.dark-mode .one{
  color: white;
}

@media screen  and (max-width: 500px){
  body.dark-mode  .inbox{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 7vh;
  
  
  
}

  body.dark-mode  .burger{
    color: rgb(241, 237, 228);
    font-size: 40px;
  }



    body.dark-mode  .slider-wrapper{
      background-color: none !important;
      
    }
body.dark-mode .conteiner2{
  background: black;
  box-shadow: 0 4px 10px rgba(66, 65, 65, 0.308);
  color: white !important;
}
body.dark-mode .projects-text{
  color: white !important;
}




}
